@{
    ViewData["Title"] = "Welcome to the best";
    ViewData["Title2"] = "Library Management System App";
}

<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Title2"]</h2>
 
<p>No need to login. Just click on the links above.</p>
    <div>
        <label>Username</label>
        <input type="text" name="username" />
        <label>Password</label>
        <input type="password" name="password" />
        <input type="submit" value="Submit" />
    </div>
