@model Assignment3.Models.ReaderModel

@{
    ViewData["Title"] = "Add New Reader";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="AddReader" method="post" asp-controller="Reader">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
    </div>
    <div>
        <label asp-for="ZipCode"></label>
        <input asp-for="ZipCode" />
    </div>
   
    <!-- Repeat for other fields -->
    <div>
        <input type="submit" value="Add Reader" />
    </div>
</form>

 